
.dummy-cc {
	border-radius: 5px;
	border: 1px solid #ccc;
	padding-top: 5rem;
	overflow: hidden;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		height: 40px;
		background: linear-gradient(45deg, rgba(153,153,153,1) 0%,rgba(173,173,173,1) 70%,rgba(153,153,153,1) 70%,rgba(169,169,169,1) 100%);
		top: 20px;
		width: 100%;
	}

}